.jumbotron {
  background-color: #0fd48b;
  color: #6f8379;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #b7ca06;
  padding: 10px, 10px, 0px, 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding: 0px, 10px, 0px, 0px; }

.tab-content {
  padding: 10px, 0px, 0px, 0px; }
