@yellow:#fcfc00;
@red:#cf0e0e;
@green:#0fd48b;

.margenes (@top, @botton){
    margin-top: @top;
    margin-bottom: @botton;
}

.pad (@arr, @der, @abj, @izq) {
    padding: @arr, @der, @abj, @izq;
}

.jumbotron {
    background-color: @green;
    color:@red;
    .margenes(50px, 10px)
    //margin-top: 50px;
}

footer {
    //padding: 10px 10px 0px 10px;
    background-color: @yellow;
    .pad(10px,10px ,0px ,10px);
    .margenes(10px, 0px)
    //margin-bottom: 0px;
    //margin-top: 10px;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    //@include margenes(10px, 0px)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    .pad(0px,10px ,0px ,0px);
    //padding-right: 10px;
}

.tab-content {
    .pad(10px, 0px ,0px ,0px);
    //padding-top: 10px;
}