$yellow:#b7ca06;
$red:#2f497a;
$green:#0fd48b;
$black: #6f8379;

@mixin margenes ($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}
@mixin pad ($arr, $der, $abj, $izq) {
    padding: $arr, $der, $abj, $izq;
}

.jumbotron {
    background-color: $green;
    color:$black;
    @include margenes(50px, 10px)
    //margin-top: 50px;
}

footer {
    //padding: 10px 10px 0px 10px;
    background-color: $yellow;
    @include pad(10px,10px ,0px ,10px);
    @include margenes(10px, 0px)
    //margin-bottom: 0px;
    //margin-top: 10px;
}
.card-hotel {
    flex: 1 200px;
    //margin-top: 10px;
    @include margenes(10px, 0px)
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    @include pad(0px,10px ,0px ,0px);
    //padding-right: 10px;
}

.tab-content {
    @include pad(10px, 0px ,0px ,0px);
    //padding-top: 10px;
}